.Row {
  display: flex;
  justify-content: center;
  height: var(--cell-height);
}

.Cell {
  position: relative;
  width: var(--cell-width);
  height: var(--cell-height);
}

.Layer {
  display: block;
  position: absolute;
  inset: 0;
}
