.Row {
  display: flex;
  justify-content: center;
  height: var(--cell-height);
}

.Cell {
  position: relative;
  height: var(--cell-height);
}

.Layer {
  display: block;
  position: absolute;
  inset: 0;
  font-size: calc(var(--cell-height) * 1.02);
}
