.Row {
  display: flex;
  justify-content: center;
  height: var(--cell-height);
}

.Cell {
  position: relative;
  height: var(--cell-height);
  width: var(--cell-width);
  overflow: hidden;
  margin-left: -0.5px;
}

.Layer {
  display: block;
  position: absolute;
  inset: 0;
  font-size: calc(var(--cell-height) * 1.02);
}

.Dot {
  display: block;
  position: absolute;
  width: var(--pixel-size);
  height: var(--pixel-size);
  background-color: var(--silver);
}