@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("../../fonts/MostPerfectDOSVGA.woff2") format("woff2"),
       url("../../fonts/MostPerfectDOSVGA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #000000;
	--maroon: #800000;
	--green: #008000;
	--olive: #808000;
	--navy: #000080;
	--purple: #800080;
	--teal: #008080;
	--silver: #c0c0c0;
	--grey: #808080;
	--red: #ff0000;
	--lime: #00ff00;
	--yellow: #ffff00;
	--blue: #0000ff;
	--fuchsia: #ff00ff;
	--aqua: #00ffff;
	--white: #ffffff;

  --size: 32px;
}

html {
  background-color: var(--black);
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Terminal {
  font-family: "Perfect DOS VGA 437 Win";
  margin: 0;
}

.Viewport {
  height: calc(var(--size) * 13);
  width: calc(18px * 21);
  overflow: hidden;
  margin: -16px 0;
  padding: 16px 0;
}

.Animation .Board {
  transition: transform 200ms linear;
}

.Animation .Units {
  transition: margin 100ms ease-out, transform 200ms linear;
}

.UnitCell {
  position: absolute;
  color: var(--white);
  opacity: 100%;
}

.Animation .UnitCell {
  transition: top 200ms linear, left 200ms linear, opacity 200ms linear;
}

.Row {
  white-space: nowrap;
  height: var(--size);
}

.Cell {
  position: relative;
  display: inline-block;
  height: var(--size);
  color: var(--white);
}

.Animation .Cell,
.Animation .Entity {
  transition: opacity 200ms linear;
  opacity: 100%;
}

.HUD {
  color: var(--grey);
}

.Cell.fog {
  opacity: 50%;
}

.Cell.dark .Entity,
.UnitCell.fog .Entity,
.UnitCell.dark .Entity {
  opacity: 0%;
}

.Cell .Placeholder {
  opacity: 0%;
}

.Cell.dark .Entity.Placeholder {
  opacity: 15%;
}

.Hidden {
  opacity: 0%;
}

.Cell::after {
  content: "\00a0";
  font-size: var(--size);
  line-height: var(--size);
}

.Entity {
  position: absolute;
  font-size: var(--size);
  line-height: var(--size);
}


/* Materials */

.Wood {
  color: var(--maroon);
}

.Iron {
  color: var(--grey);
}

.Fire {
  color: var(--red);
}

.Ice {
  color: var(--teal);
}

/*
.Door {
  color: var(--maroon);
}

.Handle {
  color: var(--grey);
}

.Lock {
  color: var(--grey);
}
*/

.Path {
  color: var(--grey);
}

.Water {
  color: var(--navy);
}

.Sand {
  color: var(--olive);
}

.Rock {
  color: var(--grey);
}

.Life {
  color: var(--red);
}

.Mana {
  color: var(--blue);
}

.Experience {
  color: var(--lime);
}

.Gold {
  color: var(--yellow);
}

.Ore {
  color: var(--silver);
}

.Seed {
  color: var(--teal);
}

.Herb {
  color: var(--purple);
}

.Plant {
  color: var(--green);
}

.Triangle {
  color: var(--silver);
}

.Bar {
  color: var(--red);
  z-index: 20;
}

.Armor {
  color: var(--maroon);
}

.Sword {
  z-index: 3;
}

.Sword.wood {
  color: var(--maroon);
}

.Sword.iron {
  color: var(--grey);
}

.Spell {
  color: var(--aqua);
}

.Amulet {
  color: var(--teal);
}

.Boat {
  color: var(--maroon);
}

.Key {
  color: var(--yellow);
}

.Swimming {
  color: var(--navy);
  z-index: 10;
}

.Freezing {
  color: var(--aqua);
  z-index: 10;
}

.Attacked {
  color: var(--grey);
  z-index: 11;
}

/*
.Frame {
  color: var(--black);
}

.Chest {
  color: var(--maroon);
}
*/

.Player {
  color: var(--white);
  z-index: 1;
}

.Hair {
  color: var(--olive);
  z-index: 2;
}

.Health {
  color: var(--lime);
  z-index: 20;
}

.Eye {
  color: var(--black);
}