@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("../../fonts/MostPerfectDOSVGA.woff2") format("woff2"),
       url("../../fonts/MostPerfectDOSVGA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #000000;
	--maroon: #800000;
	--green: #008000;
	--olive: #808000;
	--navy: #000080;
	--purple: #800080;
	--teal: #008080;
	--silver: #c0c0c0;
	--grey: #808080;
	--red: #ff0000;
	--lime: #00ff00;
	--yellow: #ffff00;
	--blue: #0000ff;
	--fuchsia: #ff00ff;
	--aqua: #00ffff;
	--white: #ffffff;

  --height: 32px;
  --width: 18px;
}

html {
  background-color: var(--black);
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Terminal {
  font-family: "Perfect DOS VGA 437 Win";
}

.Row {
  white-space: nowrap;
  height: var(--height);
}

.HUD {
  color: var(--grey);
}

.Viewport {
  height: calc(var(--height) * 13);
  width: calc(18px * 21);
  overflow: hidden;
  position: relative;
  margin: -16px 0 -12px;
  padding: 16px 0 12px;
}

.Cell {
  display: inline-block;
  height: var(--height);
  width: var(--width);
  color: var(--white);
}

.StaticCell,
.StaticUnit,
.MovingUnit,
.PlayerUnit {
  position: absolute;
  height: var(--height);
  width: var(--width);
  color: var(--white);
}

.StaticCell.visible .Entity,
.StaticUnit.visible .Entity,
.MovingUnit.visible .Entity,
.PlayerUnit .Entity {
  opacity: 100%;
}

.StaticCell.fog .Entity {
  opacity: 50%;
}

.StaticCell.dark .Placeholder {
  opacity: 15%;
}

.StaticCell.dark .Entity,
.StaticCell.visible .Placeholder,
.StaticCell.fog .Placeholder,
.StaticUnit.fog .Entity,
.StaticUnit.dark .Entity,
.MovingUnit.fog .Entity,
.MovingUnit.dark .Entity {
  opacity: 0%;
}

.Placeholder,
.Entity {
  position: absolute;
  font-size: var(--height);
  line-height: var(--height);
}


/* --------------------------- ANIMATIONS --------------------------- */

.Animation .StaticCell .Entity,
.Animation .StaticCell .Placeholder,
.Animation .StaticUnit .Entity,
.Animation .MovingUnit .Entity {
  transition: opacity 200ms linear;
}

.Animation .StaticUnit,
.Animation .StaticCell {
  transition: top 200ms linear, left 200ms linear;
}

.Animation .MovingUnit {
  transition: top 200ms linear, left 200ms linear;
}

/*

.Animation .Board {
  transition: transform 200ms linear;
}

.Unit {
  position: absolute;
  color: var(--white);
  opacity: 100%;
}

.Animation .Unit {
  transition: top 200ms linear, left 200ms linear, opacity 200ms linear;
}

.Animation .PlayerUnit {
  transition: margin 100ms ease-out, transform 200ms linear;
}

.Animation .Cell,
.Animation .Entity {
  transition: opacity 200ms linear;
  opacity: 100%;
}


.Cell.fog {
  opacity: 50%;
}

.Cell.dark .Entity,
.UnitCell.fog .Entity,
.UnitCell.dark .Entity {
  opacity: 0%;
}

.Cell .Placeholder {
  opacity: 0%;
}

.Cell.dark .Entity.Placeholder {
  opacity: 15%;
}

.Hidden {
  opacity: 0%;
}

.Cell::after {
  content: "\00a0";
  font-size: var(--height);
  line-height: var(--height);
}

*/


/* Materials */

.Wood {
  color: var(--maroon);
}

.Iron {
  color: var(--grey);
}

.Fire {
  color: var(--red);
}

.Ice {
  color: var(--teal);
}

/*
.Door {
  color: var(--maroon);
}

.Handle {
  color: var(--grey);
}

.Lock {
  color: var(--grey);
}
*/

.Path {
  color: var(--grey);
}

.Water {
  color: var(--navy);
}

.Sand {
  color: var(--olive);
}

.Rock {
  color: var(--grey);
}

.Life {
  color: var(--red);
}

.Mana {
  color: var(--blue);
}

.Experience {
  color: var(--lime);
}

.Gold {
  color: var(--yellow);
}

.Ore {
  color: var(--silver);
}

.Seed {
  color: var(--teal);
}

.Herb {
  color: var(--purple);
}

.Plant {
  color: var(--green);
}

.Triangle {
  color: var(--silver);
}

.Bar {
  color: var(--red);
  z-index: 30;
}

.Spell {
  color: var(--aqua);
}

.Amulet {
  color: var(--teal);
}

.Boat {
  color: var(--maroon);
}

.Key {
  color: var(--yellow);
}

.Swimming {
  color: var(--navy);
  z-index: 20;
}

.Freezing {
  color: var(--aqua);
  z-index: 21;
}

.Attacked {
  color: var(--grey);
  z-index: 22;
}

/*
.Frame {
  color: var(--black);
}

.Chest {
  color: var(--maroon);
}
*/

.Armor {
  color: var(--maroon);
  z-index: 10;
}

.Sword {
  z-index: 14;
}

.Sword.wood {
  color: var(--maroon);
}

.Sword.iron {
  color: var(--grey);
}

.Player {
  color: var(--white);
  z-index: 12;
}

.Hair {
  color: var(--olive);
  z-index: 13;
}

.Eye {
  color: var(--black);
  z-index: 11;
}

.Health {
  color: var(--lime);
  z-index: 30;
}

/*
z-index
- 0-9: Terrain
- 10-19: Player
- 20-29: Particles
- 30-39: Health bars
*/