.Controls,
.ControlsFlipped {
  position: relative;
  z-index: 1;
  height: calc(var(--cell-height) * (var(--hud-rows, 4) + 1));
  width: calc(100% + var(--pixel-size) * 2);
  left: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
  overflow: hidden;
  margin: 0 auto;
  margin-top: calc(var(--bottom-offset) - var(--cell-height));
}

.Primary {
  position: absolute;
  left: calc(50% - 4 * var(--cell-width));
  top: calc(var(--bottom-offset) * -1 + var(--cell-height));
  bottom: 0;
  right: calc(50% - 2 * var(--cell-width));
}

.ControlsFlipped .Primary {
  right: calc(50% - 4 * var(--cell-width));
  left: calc(50% - 2 * var(--cell-width));
}

.Secondary {
  position: absolute;
  left: 0;
  top: calc(var(--bottom-offset) * -1 + var(--cell-height));
  bottom: 0;
  right: calc(50% + 4 * var(--cell-width));
}

.ControlsFlipped .Secondary {
  right: 0;
  left: calc(50% + 4 * var(--cell-width));
}

.Interact {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(
    calc((var(--interact-x, 0) + 3.5) * var(--cell-width) + var(--pixel-size)),
    calc((var(--interact-y, 0) - 1.5) * var(--cell-height) - var(--pixel-size))
  );
  width: calc((var(--interact-width, 0) + 2) * var(--cell-width));
  height: calc((var(--interact-height, 0) + 2) * var(--cell-height));
  transition: transform ease-out 0.7s;
}

.PopupTab {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(
    calc(
      (6 * var(--popup-tab) - 4) * var(--cell-width) - var(--popup-tab) *
        var(--pixel-size)
    ),
    calc(-5.5 * var(--cell-height) - var(--pixel-size))
  );
  width: calc(6 * var(--cell-width) - 2 * var(--pixel-size));
  height: var(--cell-height);
}

.PopupClose {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(
    calc(10 * var(--cell-width) + var(--pixel-size)),
    calc(-5.5 * var(--cell-height) - var(--pixel-size))
  );
  width: calc(2 * var(--cell-width) + 2 * var(--pixel-size));
  height: var(--cell-height);
}

.PopupLeft {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(
    calc(-4 * var(--cell-width)),
    calc(4.5 * var(--cell-height) - var(--pixel-size))
  );
  width: calc(6 * var(--cell-width) + 2 * var(--pixel-size));
  height: var(--cell-height);
}

.PopupRight {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(
    calc(10 * var(--cell-width)),
    calc(4.5 * var(--cell-height) - var(--pixel-size))
  );
  width: calc(6 * var(--cell-width) + 2 * var(--pixel-size));
  height: var(--cell-height);
}
