.Controls {
  position: relative;
  height: calc(var(--cell-height) * 5);
  margin-top: calc(var(--bottom-offset) - var(--cell-height));
  margin-left: calc(var(--left-offset) - var(--cell-width));
  margin-right: calc(var(--right-offset) - var(--cell-width));
}

.Action {
  position: absolute;
  left: 0;
  top: calc(var(--bottom-offset) * -1 + var(--cell-height));
  bottom: 0;
  width: 50%;
}