.Controls,
.ControlsFlipped {
  position: relative;
  z-index: 1;
  height: calc(var(--cell-height) * (var(--hud-rows, 4) + 1));
  width: calc(100% + var(--pixel-size) * 2);
  left: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
  overflow: hidden;
  margin: 0 auto;
  margin-top: calc(var(--bottom-offset) - var(--cell-height));
}

.Primary {
  position: absolute;
  left: calc(50% - 4.5 * var(--cell-width));
  top: calc(var(--bottom-offset) * -1 + var(--cell-height));
  bottom: 0;
  right: calc(50% - 1.5 * var(--cell-width));
}

.ControlsFlipped .Primary {
  right: calc(50% - 4.5 * var(--cell-width));
  left: calc(50% - 1.5 * var(--cell-width));
}

.Secondary {
  position: absolute;
  left: 0;
  top: calc(var(--bottom-offset) * -1 + var(--cell-height));
  bottom: 0;
  right: calc(50% + 4.5 * var(--cell-width));
}

.ControlsFlipped .Secondary {
  right: 0;
  left: calc(50% + 4.5 * var(--cell-width));
}
