.Stats {
  height: calc(var(--cell-height) * 3);
  margin-bottom: var(--top-offset);
  margin-left: calc(var(--left-offset) - var(--cell-width));
  margin-right: calc(var(--right-offset) - var(--cell-width));
}
