.Stats {
  position: relative;
  z-index: 1;
  height: calc(var(--cell-height) * 4);
  margin-bottom: var(--top-offset);
  margin-left: calc(var(--left-offset) - var(--cell-width));
  margin-right: calc(var(--right-offset) - var(--cell-width));
}

.Menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: calc(var(--top-offset) * -1);
  width: calc(50% - var(--cell-width) * 7.5);
}

.Inspect {
  position: absolute;
  right: 0;
  top: 0;
  bottom: calc(var(--top-offset) * -1);
  width: calc(50% - var(--cell-width) * 5.5);
}
