.Stats,
.StatsFlipped {
  position: relative;
  z-index: 1;
  height: calc(var(--cell-height) * 4);
  width: calc(100% + var(--pixel-size) * 2);
  left: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: var(--top-offset);
}

.Menu {
  position: absolute;
  top: 0;
  bottom: calc(var(--top-offset) * -1);
  width: calc(50% - var(--cell-width) * 7.5);
}

.Stats .Menu {
  left: 0;
}

.StatsFlipped .Menu {
  right: 0;
}

.Inspect {
  position: absolute;
  top: 0;
  bottom: calc(var(--top-offset) * -1);
  width: calc(50% - var(--cell-width) * 5.5);
}

.Stats .Inspect {
  right: 0;
}

.StatsFlipped .Inspect {
  left: 0;
}
